{% extends 'base.html' %}

{% block main %}
<main>
    <h1 class="display-4 mx-3 mt-3 mb-5">{{ photo.title }}</h1>
    <div class="container text-center">
        <img src="{{ url_for('static', filename=photo.img) }}" class="img-fluid mb-4" alt="{{ photo.title }}">
        <h2>{{ photo.title }}</h2>
        <p class="lead">Artist: {{ photo.artist }}</p>
        <ul>
            <li>
                Category: {{ photo.category }}
            </li>
        </ul>
       <a href="{{ url_for('photo.photos') }}" class="btn btn-dark mt-3">← Back to Gallery</a>
    </div>
</main>
{% endblock %}