{% from 'macros.html' import nav_link %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Tbilisi in Fragments</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ nav_link('main.index', 'Home') }}
                {{ nav_link('photo.photos', 'Photos') }}
                {{ nav_link('auth.register', 'Register') }}

                {% if current_user.is_authenticated %}
                    {{ nav_link('auth.logout', 'Logout') }}
                {% else %}
                    {{ nav_link('auth.login', 'Login') }}
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <a href="{{ url_for('photo.submit') }}" class="btn btn-outline-success" type="submit">Submit your
                    finding</a>
            </form>
        </div>
    </div>
</nav>