{% extends 'base.html' %}

{% block main %}
<main class="m-4 p-4 shadow">
    <h1 class="display-4 mb-4">Register</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password2.label(class="form-label") }}
            {{ form.password2(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-dark") }}
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-dark ms-2">Login instead</a>
    </form>
</main>
{% endblock %}